body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: black;
  }
  
  header {
    background: rgb(1, 118, 186);
    color: white;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid white;
    position: sticky;
    top:0;
    z-index: 100;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
  }
  
  footer {
    background: rgb(1, 118, 186);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  a{
    color:black;
    text-decoration: none;
  }
.banner{
  text-align: center;
}
.container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap:40px;
  margin:10px;
  align-items:center;
}
.box-topics{
  border:2px solid black;
  border-radius: 3%;
  justify-content: center;
  margin:2px;
}
.box-topics:hover{
  background-color: darkblue;
  color:greenyellow;
  border:2px solid greenyellow;
  transition: 0.5s;
}
.min-banner{
  text-align: center;
}
.box-content{
 display: flex;
}
.box-txt{
  float: right;
  flex: 1;
  font-size: 15px;
}
.box-img{
  margin-top: 10px;
  float: left;
  padding-right: 10px;
  flex: 1;
}
.img{
  border-radius: 3%;
  width: 100%;
}
.logo{
  border-radius: 10px;
  width: 50px;
  float:left;
}
nav ul li a:hover{
  background-color:red;
  border:2px solid white;
  border-radius: 10px;
  cursor:pointer;
  transition: 0.5s;
  padding:5px 10px;
  color:white;
  text-decoration: none;
}
.box-img2{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.photo{
  width: 30%;
  padding:10px 10px;
 border-radius: 10%;
}
.photo2{
  width: 100%;
}
.box-txt2{
 padding-left:15%;
 padding-right:15%;
}